.search-bg {
  width: 100%;
  background: linear-gradient(#1E1E1E, #454344); }

.main-search {
  height: 100vh;
  max-width: 720px;
  margin: 0 auto;
  background: url("/images/background.jpg") no-repeat top center;
  background-size: cover;
  position: relative; }

.search {
  position: absolute;
  bottom: 100px;
  width: 100%; }
  .search h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #f3f2f2;
    margin-bottom: 30px; }

.search-bar {
  width: 80%;
  margin: 0 auto; }
  .search-bar input {
    width: 90%;
    padding: 30px;
    background: rgba(146, 93, 2, 0.47);
    border: none;
    outline: none;
    border-radius: 10px; }
  .search-bar::-webkit-search-cancel-button {
    -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: #4b3904; }

h1 {
  margin: 0; }

.table {
  background: #b37b02;
  color: #ffffff; }
  .table ol {
    width: 720px;
    margin: 0 auto;
    padding: 0; }
  .table li {
    padding: 30px 0 10px; }
    .table li:not(:last-child) {
      border-bottom: 3px solid rgba(255, 255, 255, 0.22); }
  .table a {
    color: inherit;
    text-decoration: none; }
  .table h3 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: .5px;
    margin: 0 0 20px; }
  .table p {
    font-size: 15px; }
  .table .pdf {
    display: inline-block;
    background: #df1576;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: .5px;
    vertical-align: middle; }
  .table .csv {
    display: inline-block;
    background: #025b05;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: .5px;
    vertical-align: middle; }
